@model WordFrequencyCount

@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Styles/myStyle.css" rel="stylesheet" />
</head>
<body>
    <div>
        <center><h2>Frequency of each word that appears in the book <b> " The Whale by Herman Melville "</b></h2></center>
    </div>
    <div>
        <a href="@Url.Action("Get", "Home")" style="        color: green;
        font-size: 10pt;">View Word Frequency Table</a>
    </div>
    <div style="border: solid 2px 2px">
        <h3>File Upload</h3>
        @using (Html.BeginForm("Index",
                                "Home",
                                FormMethod.Post,
                                new { enctype = "multipart/form-data" }))
        {
            <label for="file">Upload File:</label>
            <input type="file" name="file" id="file" /><br><br>
            <input type="submit" value="Upload File" />
            <br><br>
            @ViewBag.Message
        }
    </div>
</body>
</html>
